.List{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
h1{
    margin-left: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
}
 @media screen and ( max-width: 400px) {
     .List{
         flex-direction: row;
         margin: 0 auto;
         display: flex;
         justify-content: space-between;
         align-items: center;
     }
 }